body{
    background-color:#E0D4CA ;
    margin: 0%;
    width: 100%;
}

.title{
    display: flex;
    flex-direction: row;

}


.title{
    display: flex;
    font-family:'PT Sans Narrow', sans-serif;;
    font-size: 2.5rem;
    background-color: #FFFDFC;
    width: 100%;
    padding: 0.625rem;
    align-items: center;
    margin-top: 1.25rem;
}

#accueil{
    display: flex;
    font-size: 1.25rem;
    margin-left: 1.875rem;
    text-decoration: none;
    background-color: #736C65;
    color: #FFFFFF;
    border-radius: 0.9375rem;
    padding: 0.3125rem;;
}

#retour{
    display: flex;
    font-size: 1.25rem;
    margin-left: 1.25rem;
    text-decoration: none;
    background-color: #736C65;
    color: #FFFFFF;
    border-radius: 0.9375rem;
    padding: 0.3125rem;;
}

#suivant{
    display: flex;
    font-size: 1.25rem;
    margin-left: 18.125rem;
    text-decoration: none;
    background-color: #736C65;
    color: #FFFFFF;
    border-radius: 0.9375rem;
    padding: 0.3125rem;;

}

.titre-hdr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 23.125rem;
}


        /* MAIN */

/* --- Projet 1 --- */


.projet{
    display: flex; 
    flex-direction: row;
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 15px;
    margin-left:150px ;
    margin-right: 100px;
    height: 350px;
   
    
}

#projet-un{
    display:flex;
    margin-top: 40px;
    width: 68rem;
    height: 320px;
    display: flex; 
    flex-direction: row;
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 17px;
    margin-left:75px ;
    margin-right: 80px;
    margin-bottom: 100px;
    margin-top: 60px;
    border: #FFFDFC solid 16px;
    border-radius: 6px;
        
}

.image{
    width: 300px;
    height: 240px;
    margin-right:20px;
    border-radius:4px;
    margin-left: 40px;
    margin-top: 20px;
}

.explication{
    margin-right: 15px;
}