body{
    display: flex;
    background-color:#E0D4CA;
    margin:0;
    flex-direction: column;
}

/* -- header -- */

header{
    width: 100vw;
    height: 46.875rem;
    background-color:#FFFDFC;
}

.haut-pg{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #E0D4CA;
    font-size: 2.5rem;
    padding: 0.625rem;
    margin-top: 1.5625rem;
}

#retour{
    display: flex;
    font-size: 1.25rem;
    margin-left: 1.875rem;
    text-decoration: none;
    background-color: #736C65;
    padding: 0.3125rem;
    color: #FFFFFF;
    border-radius: 0.9375rem;

}


#titre-form{
    display: flex;
    justify-content: center;
    margin-left: 29.6875rem;

}


#img-form{
    display: flex;
    margin-top: 0.5rem;
    width: 80rem;
}



#bande-img{
    display: flex;
    margin: 0%;
    border-width: 0rem;
    background-color: #E0D4CA;
    
}

/* -- main --*/

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 31.25rem;
    align-items: center;
}

.inf-pers{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3.125rem;
    font-family:'PT Sans Narrow', sans-serif ;
    font-size: 1.5625rem;
    
    
    
}

#competence{
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin-left: 5.625rem;
    background-color: #FFFDFC;
    border-radius: 0.625rem;
    padding: 0.625rem;
    height: 22.5rem;
    margin-bottom: 0;
}

#h-com{
    display: flex;
    justify-content: center;
    font-size: 1.875rem;
    margin-bottom: 0.625rem;
}

#com-img{
   display: flex;
   justify-content: center;
    width: 23.75rem;
    height: 20rem;
}

#h-lois{
    display: flex;
    justify-content: center;
    font-size: 1.875rem;
    margin-bottom: 0.625rem;
}

#loisirs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12.5rem;
    background-color: #FFFDFC;
    border-radius: 0.625rem;
    border-radius: 0.3125rem;
    padding: 0.625rem;
    height: 18.75rem;
    width: 25rem;
    font-size: 1.875rem;
}

#loisirs-img{
    display: flex;
   justify-content: center;
    width: 23.125rem;
    height: 16.875rem;
    margin-left: 0.625rem;
}

.main-cv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-family: 'PT Sans Narrow', sans-serif ;
    font-size: 1.25rem;
    background-color: #736C65;
    color: #FFFDFC;
    padding: 0.3125rem;
    text-decoration: none;
    margin-left: 39.375rem;
    margin-right: 33.125rem;
    border-radius: 0.9375rem;
}

/* -- footer -- */