
 /* ----- Communication -----*/
body{
    background-color:#E0D4CA ;
    margin: 0%;
}

.title{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0%;
}


.title{
    display: flex;
    font-family:'PT Sans Narrow', sans-serif;;
    font-size: 2.5rem;
    background-color: #FFFDFC;
    width: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    align-items: center;
    margin-top: 1.25rem;
    
}

#accueil{
    display: flex;
    font-size: 1.25rem;
    margin-left: 1.875rem;
    text-decoration: none;
    background-color: #736C65;
    color: #FFFFFF;
    border-radius: 0.9375rem;
    padding: 0.3125rem;;
}

#retour{
    display: flex;
    font-size: 1.25rem;
    margin-left: 1.25rem;
    text-decoration: none;
    background-color: #736C65;
    color: #FFFFFF;
    border-radius: 0.9375rem;
    padding: 0.3125rem;;
}


#suivant{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    margin-left: 21.875rem;
    text-decoration: none;
    background-color: #736C65;
    color: #FFFFFF;
    border-radius: 0.9375rem;
    padding: 0.3125rem;;

}

.titre-hdr{
    display: flex;
    justify-content: center;
    margin-left: 19.375rem;
}


/* ---- main ----*/ 

/* ---- projet 1 com ----*/ 


#projet-un{ 
    width: 1088px;
    height: 29.375rem;
    display: flex; 
    flex-direction: row;
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 1.0625rem;
    margin-left:4.6875rem ;
    margin-right: 5rem;
    margin-bottom: 6.25rem;
    margin-top: 3.75rem;
    border: #FFFDFC solid 8px;
    border-radius: 0.375rem;
    
}

.image-1{
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
    margin-top: 0.625rem;
}

#img-projet-un{
    width: 19.375rem;
    height: 11.875rem;
    margin-right:0.9375rem;
    border-radius:0.25rem;
    margin-top:0.625rem ;
    margin-bottom: 1.25rem;
}

h1{
    font-size: 1.875rem;
    margin: 0.1875rem;
}

#explication-1{
    width: 100%;
    height: 25rem;
    font-size:1.0625rem;
    margin-top: 2.5rem;
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    margin-right: 3.75rem;
}


/* --- projet 2 ---*/ 

#projet-2{
    display: flex;
    flex-direction: row;
    width: 1088px;
    height: 21.875rem;
    margin-left: 4.6875rem;
    margin-top: 0.625rem;
    border: #FFFDFC solid 8px;
    border-radius: 0.375rem;
    margin-bottom: 3.125rem;
}

.explication-2{
    width: 36.875rem;
    height: 18.75rem;
    margin-left: 1.875rem;
    margin-right: 0.625rem;
    margin-bottom: 3.125rem;
    font-size: 1.0625rem;
    font-family:'PT Sans Narrow', sans-serif; ;
    
}


#ubs{
    width: 13.75rem;
    height: 20rem;
    margin-top: 0.625rem;
}


/*  projet 3 */

#projet-3{
    display: flex;
    flex-direction: row;
    width: 1088px;
    height: 32rem;
    margin-left: 4.6875rem;
    margin-top: 0.625rem;
    border: #FFFDFC solid 8px;
    border-radius: 0.375rem;
    margin-bottom: 3.125rem;
}

.explication-3{
    width: 100%;
    height: 25rem;
    font-size:0.9rem;
    margin-top: 2.5rem;
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    margin-right: 3.75rem;
}

#cdc{
    Width: 300px;
    margin-left: 30px;
    margin-top: 40px;
}